<mat-toolbar class="footer">
    <div class="footer-content">
        <span class="nayab">&copy; 2025 Nayab</span>
        <span class="spacer"></span>
        <div class="social-links">
            <a href="https://www.instagram.com/iam.nayab" target="_blank" aria-label="Instagram">
                <img src="assets/Instagram.png" alt="Instagram" width="22" height="22">
            </a>
            <a href="https://www.facebook.com/iamnayab02" target="_blank" aria-label="Facebook">
                <mat-icon>facebook</mat-icon>
            </a>
            <a href="mailto:nayabkhan0202@gmail.com" aria-label="Gmail">
                <mat-icon>email</mat-icon>
            </a>
            <a href="tel:+919838676516" aria-label="Contact">
                <mat-icon>phone</mat-icon>
            </a>
        </div>
    </div>
</mat-toolbar>

