.nk-logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  .mat-toolbar {
    background-color: #313131 !important;
    color: white !important;
  }
  
  .n{
    transform: skew(-20deg);
  }
  .k{
    transform: skew(-20deg);
  }
  
  .toolbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .spacer {
    flex-grow: 1; /* Pushes the menu icon to the right */
  }
  
  .sidenav-container {
    height: 100vh;
  }
  
  .content-container {
    height: calc(100vh - 64px);
    padding: 16px;
  }
  

  