<header class="header">
    <div class="logo">My Portfolio</div>
    <nav class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/portfolio">Portfolio</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/address">Address</a>
      <a routerLink="/more">More</a>
    </nav>
    <button class="toggle-button" (click)="toggleMenu()">☰</button>
  </header>
  <div class="side-panel" [class.open]="isResponsive" (click)="toggleMenu()">
    <nav class="nav-links-column">
      <a routerLink="/">Home</a>
      <a routerLink="/portfolio">Portfolio</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/address">Address</a>
      <a routerLink="/more">More</a>
    </nav>
  </div>
  <router-outlet></router-outlet>