body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    text-align: center;
    padding: 50px;
    background: linear-gradient(45deg, #6912b9, #e905b0);
    color: white;
}

.hero h1 {
    font-size: 2rem;
}

.btn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.services,
.testimonials,
.fun-facts {
    text-align: center;
    padding: 40px;
}

.service-items,
.facts,
.testimonial-items {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.service-item,
.fact {
    width: 200px;
    height: 150px;
    background: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.testimonial-item{
width: 200px;
height: 50px;
border: 1px solid #313131;
border-radius: 20%;
display: flex;
align-items: center;
justify-content: center;
}

/* Text Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#animated-text {
    animation: fadeIn 2s ease-in-out infinite alternate;
}